# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/
client/node_modules/
server/node_modules/

# Env files
# Ignore real env files
.env
.env.local
.env.*.local

# BUT don't ignore example files
!.env.example

# Build output
dist
dist-ssr
build/
client/build/
server/build/

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?