# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
.env.*    # Optional: if you use .env.development, .env.production

# Build output
dist
dist-ssr
build/
client/build/
server/build/

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?