@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.comments {
    width: 100%;
    padding: 1.2rem;
    font-size: 0.85rem;
    border-bottom: 1px solid #e1e1e1;

    @include m.respond-to(desktop) {
        padding: 0;
        padding-top: 1.2rem;
        margin-left: 1.2rem;
    }

    @include m.respond-to(wide) {
        margin-left: 0;
    }

    &__heading {
        margin-top: 0;
        font-size: 0.95rem;
        font-family: v.$font-bold;
    }
}

.comment {
    display: flex;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    border-top: 1px solid #e1e1e1;
    width: 100%;

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #afafaf;
    }

    &__details {
        flex: 1;
        padding-left: 1.2rem;
    }

    &__details div {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-family: v.$font-bold;
    }

    &__timestamp {
        font-family: v.$font-demi;
        color: #afafaf;
    }

    &__text {
        line-height: 1.2;
    }
}
