@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "sass:color";


.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;

    @include m.respond-to(tablet) {
        flex-direction: row; // Tablet and up
        justify-content: space-between;
    }

    @include m.respond-to(wide) {
        padding-right: 5%;
        padding-left: 5%;
    }

    &__logo {
        width: auto;
        height: 1.55rem;
        margin-bottom: 0.85rem;

        @include m.respond-to(tablet) {
            height: 1.65rem;
            margin-bottom: 0; // Tablet and up
        }

        @include m.respond-to(desktop) {
            height: 1.85rem;
        }
    }

    &__right {
        width: 100%;

        @include m.respond-to(tablet) {
            width: auto;
            display: flex; // Tablet and up
            justify-content: right;
        }
    }

    &__search-wrapper {
        position: relative;
        width: 100%;

        @include m.respond-to(tablet) {
            width: 20rem;
            margin-right: 0.5rem; // Tablet and up
        }
    }

    &__search-input {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem 1.85rem;
        border: 1px solid #e1e1e1;
        border-radius: 0.25rem;
        margin-bottom: 0.5rem;

        @include m.respond-to(tablet) {
            margin-bottom: 0; // Tablet and up
        }
    }

    &__search-icon {
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 0.7rem;
        left: 0.7rem;
    }

    &__upload-button-container {
        width: 100%;
        display: flex;

        @include m.respond-to(tablet) {
            width: auto; // Tablet and up
            justify-content: right; // Tablet and up
        }
    }

    &__upload-button {
        width: 100%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0095ff;
        color: #fafafa;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        font-family: v.$font-demi;
        font-size: 0.875rem;
        text-transform: uppercase;

        @include m.respond-to(tablet) {
            width: auto; // Tablet and up
            padding: 1rem 2rem; // Tablet and up
        }

        &:hover {
            background-color: color.adjust(#0095ff, $lightness: -20%);
        }
    }

    &__upload-icon {
        width: 0.9rem;
        height: 0.9rem;
        margin-right: 0.5rem;
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-left: 1rem;
    }
}
