@use "./variables" as v;

/* reset settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: v.$font-regular;
    -webkit-font-smoothing: antialiased;
}

img,
video,
canvas {
    display: block;
    max-width: 100%;
}

button {
    all: unset;
    cursor: pointer;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
