// for colors, fonts, breakpoints, etc.
// Colors
$primary-color: #0095ff;
$secondary-color: #afafaf;
$border-gray: #e1e1e1;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1440px;

// Fonts
$font-regular: "Avenir Next Regular", sans-serif;
$font-demi: "Avenir Next Demi", sans-serif;
$font-bold: "Avenir Next Bold", sans-serif;

/*
    COLORS
    #e1e1e1
    #afafaf
    #ffffff
    #323232
    #0095ff
    #fafafa
 */
