// optional global styles
@use "./variables" as v;
@use "./mixins" as m;
@use "./reset";
@use "./typography";

body {
    background-color: #fff;
    color: #323232;
    font-family: v.$font-regular;
    font-size: 16px;
}


